body {
    background-color: #ADD8E6;
    color: #222;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
}


#site-header {
    color: #EEE;
    background-color: #DF4848;

    padding-bottom: 10px;
    padding-top: 10px;


    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#site-header a {
    color: #fff;
    display: block;
}
#site-header a:hover {
    color: #eee;
}

#site-header nav ul {
    overflow: auto;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

#site-header nav li{
    float: left;
    display: inline;
    border-left: 2px solid #eee;
}
#site-header nav li:first-child
{
    border-left: 2px solid transparent;
}

#site-header nav li a {
    display: block;
    padding: 0 12px;
}

.main-footer {
    text-align: center;
    font-size: 0.7em;
    margin: 20px;
}

.sppm-well {
    padding: 15px;
    background-color: #FAFAFA; /* #ADD8E6 azul calcinha */
    color: #222;
    box-shadow: 2px 2px 3px 0px rgba(153, 153, 153, 0.4);
}

.sppm-well h1, .sppm-well h2 {
    margin-top: 0;

}
.sppm-well hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #D2D2E5;
}

.bottom-separator {
    margin-bottom: 15px;
}


.separator {
    margin-top: 15px;
    margin-bottom: 15px;
}