body {
    background-color: #e4e4e4;
    color: #232627;
    font-size: 16px;
    font-family: 'Roboto', sans-serif;
    text-align: justify;
    
}


#site-header {
    color: #000;
    background-color: #737373;

    padding-bottom: 10px;
    padding-top: 10px;

    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

#site-header a {
    color: #fff;
    font-size: 1.1em;
    display: block;
}
#site-header a:hover {
    color: #eee;
}

#site-header nav ul {
    overflow: auto;
    list-style-type: none;
    text-align: center;
    padding: 0;
    margin-bottom: 0;
}

#site-header nav li{
    float: left;
    display: inline;
    border-left: 2px solid #eee;
}
#site-header nav li:first-child
{
    border-left: 2px solid transparent;
}

#site-header nav li a {
    display: block;
    padding: 0 12px;
}

.main-footer {
    text-align: center;
    font-size: 0.7em;
    margin: 20px;
}

.sppm-well {
    padding: 15px;
    background-color: #FFF; 
    color: #222;
    box-shadow: 2px 2px 3px 0px rgba(153, 153, 153, 0.4);
}

.sppm-well h1, .sppm-well h2 {
    margin-top: 0;

}
.sppm-well hr {
    margin-top: 10px;
    margin-bottom: 10px;
    border-top: 1px solid #D2D2E5;
}

.bottom-separator {
    margin-bottom: 15px;
}


.separator {
    margin-top: 15px;
    margin-bottom: 15px;
}

.footer-banner {
    background-color: white;
    display:inline-block;
    width: 402px;
    padding: 15px
}

@media all and (max-width: 763px) {
    body {
        font-size: 13px;
    }

    h1 {
        font-size: 1.8em;
    }
    h2 {
        font-size: 1.7em;
    }
    .footer-banner {
        width: auto;
    }

    .block-on-mobile {
        display: block;
    }
    #site-header nav li {
        display: block;
        width: 100%;
        font-size: 1.2em;
        line-height: 1.4em;
        border-left: none;
        border-bottom: 4px solid #FFF;
    }
}
